.conteneur-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  
  .carte {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }
  
  .carte:hover {
    cursor: pointer; /* Rétablit le curseur par défaut au survol */
  }
  
  @media (max-width: 768px) {
    .conteneur-cartes {
      flex-direction: column; 
      justify-content: center; 
    }
  
    .carte {
      width: 100%; 
    }
  }

  .suivantbtn {
    border: none;
    background-color: #4CAF50; /* Green color */
    color: white; /* White text */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for spacing */
  }
  
  .suivantbtn:hover {
    background-color: #3e8e41; /* Darker green on hover */
    cursor: pointer; /* Change cursor to "hand" on hover */
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  


