<mat-list>
    <mat-list-item>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h3>Vos groupes</h3>
          <mat-form-field appearance="fill" class="search-container">
            <!-- <mat-label>Rechercher</mat-label> -->
            <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Rechercher..." (ngModelChange)="onSearchTermChange()">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm='';onSearchTermChange()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    <mat-divider></mat-divider>
    <div class="conteneur-cartes">
        <ng-container *ngIf="groupesStudents?.length === 0 && !isLoading">
            <mat-list-item>
              <p style="text-align: center;">Vous n'avez pas encore de groupe.</p>
            </mat-list-item>
          </ng-container>
        <ng-container *ngFor="let carte of groupesStudents">
            <mat-card class="carte" routerLink="/groups/{{ carte._id}}">
                <mat-card-header style="display: flex; justify-content: center;">
                    <mat-card-title>{{ carte.nom }}</mat-card-title>
                    <mat-card-subtitle>{{ carte.utilisateurs?.length+" membre(s)" }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </ng-container>
    </div>
    <div class="pagination-container">
      <button mat-flat-button [disabled]="page === 1" (click)="premierePage()">Première</button>
      <button mat-flat-button [disabled]="page === 1" (click)="pagePrecedente()">Précédent</button>
      <ng-container *ngFor="let pageNumber of getPageNumbers()">
          <button mat-flat-button [disabled]="page === pageNumber" (click)="goToPage(pageNumber)">{{ pageNumber
              }}</button>
      </ng-container>
      <button mat-flat-button [disabled]="page === totalPages" (click)="pageSuivante()">Suivante</button>
      <button mat-flat-button [disabled]="page === totalPages" (click)="dernierePage()">Dernière</button>
  </div>
    <mat-list-item>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h3>Tout les groupes</h3>
          <mat-form-field appearance="fill" class="search-container">
            <!-- <mat-label>Rechercher</mat-label> -->
            <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Rechercher..." (ngModelChange)="onSearchTermChange()">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm='';onSearchTermChange()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    <mat-divider></mat-divider>
    <div class="conteneur-cartes">
        <ng-container *ngIf="groupes?.length === 0 && !isLoading">
            <mat-list-item>
              <p style="text-align: center;">Aucun groupe trouvé</p>
            </mat-list-item>
          </ng-container>
          <ng-container *ngFor="let carte of groupes">
            <mat-card class="carte" >
              <mat-card-header style="display: flex; justify-content: center;">
                <mat-card-title>{{ carte.nom }}</mat-card-title>
                <mat-card-subtitle>{{ carte.utilisateurs?.length+" membre(s)" }}</mat-card-subtitle>
              </mat-card-header>
              <!-- Bouton "Ajouter membre" -->
              <button mat-button routerLink="/groups/{{ carte._id}}">Voir</button>
              <button mat-button (click)="openAddMemberDialog(carte._id)">Ajouter membre</button>
            </mat-card>
          </ng-container>
          
    </div>
    <div class="pagination-container">
      <button mat-flat-button [disabled]="page === 1" (click)="premierePage()">Première</button>
      <button mat-flat-button [disabled]="page === 1" (click)="pagePrecedente()">Précédent</button>
      <ng-container *ngFor="let pageNumber of getPageNumbers()">
          <button mat-flat-button [disabled]="page === pageNumber" (click)="goToPage(pageNumber)">{{ pageNumber
              }}</button>
      </ng-container>
      <button mat-flat-button [disabled]="page === totalPages" (click)="pageSuivante()">Suivante</button>
      <button mat-flat-button [disabled]="page === totalPages" (click)="dernierePage()">Dernière</button>
  </div>
</mat-list>
