    <h2>{{ titre }}</h2>
    <div *ngIf="assignmentTransmis">
    <div class="container">
        <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-title>Matiere: {{assignmentTransmis.matiere}}</mat-card-title>
            <mat-card-subtitle>Titre :
            {{assignmentTransmis.titre}}</mat-card-subtitle>
            <mat-card-subtitle>Publié le : {{assignmentTransmis.dateCreation |
                date:'dd/MM/yyyy'}}</mat-card-subtitle>
            <mat-card-subtitle>A rendre avant le : {{assignmentTransmis.dateLimite |
            date:'dd/MM/yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <img style="margin: 15px;" *ngIf="assignmentTransmis.matierePhoto" [src]="assignmentTransmis.matierePhoto" alt="Matiere Photo" class="dynamic-image">
        <mat-card-content>
            <b>Description :</b>
            <p>
            {{assignmentTransmis.description}}
            </p>
        </mat-card-content>
        </mat-card>
        <mat-card class="formulaire-card">
        <div *ngIf="isStudent() && !dejarendu && !isLate()">
            <mat-card-header>
            <mat-card-title>Rendre l'assignement</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <mat-form-field style="display: block;">
                <mat-label>URL du repository GitHub ou du dossier</mat-label>
                <input matInput [(ngModel)]="repositoryUrl">
            </mat-form-field>
            <mat-form-field style="display: block;">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="description"></textarea>
            </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
            <div class="form-group">
                <p class="error-message">{{ message }} </p>
            </div>
            </mat-card-actions>
            <mat-card-actions>
            <div class="form-group form-button">
                @if(!isloading){
                <button mat-flat-button color="primary" (click)="envoyerRendu()">Envoyer</button>
                }
                @if(isloading){
                <mat-spinner diameter="40" mode="indeterminate"></mat-spinner>

                }

            </div>
            </mat-card-actions>
        </div>
        <div *ngIf="isLate() && !dejarendu" style="display: flex; justify-content: center;  height: 100%;" >
            <p>C'est déjà trop tard, la date limite est le: {{assignmentTransmis.dateLimite |
                date:'dd/MM/yyyy'}}</p>
        </div>
        <div *ngIf="isProf()">
            <div class="pour-prof">
            <h3>Liste des rendus</h3>
            <div class="selectio">
                <mat-select [(value)]="filtre" (selectionChange)="applyFilters()">
                <mat-option value="all">Tous les rendus</mat-option>
                <mat-option value="withNotes">Déjà noté</mat-option>
                <mat-option value="withoutNotes">Pas noté</mat-option>
                </mat-select>
            </div>
            </div>
            <div *ngIf="rendus.length==0" style="display: flex; justify-content: center;  height: 100%;" >
                <p>Il n'y a pas encore de rendu!</p>
            </div>
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>
            <mat-list *cdkVirtualFor="let a of rendus" class="example-item">
                <h3 mat-subheader>
                Rendu de : {{ a.auteur}}
                </h3>
                <mat-list-item>
                <p>Date de rendu: {{ a.dateRendu | date : "dd/MM/yyyy" }}</p>
                </mat-list-item>
                <button mat-raised-button color="primary" (click)="openDialog(a)">Voir
                details</button>
                <br><br>
                <mat-divider></mat-divider>
            </mat-list>
            </cdk-virtual-scroll-viewport>
        </div>
        <div *ngIf="isStudent() && dejarendu">
            <mat-card-header>
            <mat-card-title>Mon rendu</mat-card-title>
            <mat-card-subtitle>
                Date de rendu: {{ rendusetu[0].dateRendu | date: 'longDate' }}
            </mat-card-subtitle>
            </mat-card-header>
            <ng-container *ngIf="rendusetu.length > 0">
            <mat-card-content>
                <p><strong>Description:</strong> {{ rendusetu[0].description }}</p>
                <p>
                <strong>Lien du dossier ou Git : </strong>
                <a href="{{ rendusetu[0].file }}" target="_blank" id="gitLink">{{ rendusetu[0].file }}</a>
                <button mat-icon-button (click)="copyLinkToClipboard()">
                    <mat-icon>content_copy</mat-icon>
                </button>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openDialog(rendusetu[0])">
                Voir détails
                </button>
            </mat-card-actions>
            </ng-container>
        </div>
        </mat-card>
    </div>
    </div>
    <div *ngIf="!assignmentTransmis">
    <p>Loading...</p>
    </div>