<div>
  <h1>Liste des rendus de cet assignment</h1>
  <mat-divider></mat-divider>
  <mat-list>
    <!-- @for(a of assignments; track a.titre) { -->
    <mat-list-item>
      <nav>
        <a routerLink="/assignment/515dbhevyudzv">
          <div>
            <h3
              matListItemTitle>
              Titreee
            </h3>
            <p matListItemLine>Date Limiteeee</p>
          </div>
        </a>
      </nav>
    </mat-list-item>
    <mat-divider></mat-divider>
    <!-- } -->
  </mat-list>
</div>