<div>
  <h1>Liste des rendus</h1>
  <mat-divider></mat-divider>
  <div class="toolbar-container">
    <div class="selectio">
      <mat-select [(value)]="filtre" (selectionChange)="applyFilters()">
        <mat-option value="all">Tous les rendus</mat-option>
        <mat-option value="withNotes">Déjà noté</mat-option>
        <mat-option value="withoutNotes">Pas noté</mat-option>
      </mat-select>
    </div>
    <button mat-raised-button color="primary" (click)="exportToExcel()">Export
      to Excel</button>
  </div>

  <div *ngIf="rendus.length == 0 && !chargement" class="empty-message">
    <p>Il n'y a pas encore de rendu!</p>
  </div>
  <div *ngIf="chargement" class="empty-message">
    <p>Chargement...</p>

  </div>
  <div *ngIf="chargement"
    style="display: flex; justify-content: center; align-items: center;height:75vh">
    <mat-spinner diameter="30" color="accent"></mat-spinner>
  </div>

  <div *ngIf="rendus.length > 0">
    <table mat-table [dataSource]="dataSource"
      class="mat-elevation-z8 styled-table">

      <!-- Matière Photo Column -->
      <ng-container matColumnDef="matierePhoto">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let rendu">
          <img [src]="rendu.matierePhoto" alt="Photo de la matière"
            class="matiere-photo">
        </td>
      </ng-container>

      <!-- Nom de la matière Column -->
      <ng-container matColumnDef="nomMatiere">
        <th mat-header-cell *matHeaderCellDef> Nom de la matière </th>
        <td mat-cell *matCellDef="let rendu"> {{rendu.nomMatiere}} </td>
      </ng-container>

      <!-- Titre Assignment Column -->
      <ng-container matColumnDef="titreAssignment">
        <th mat-header-cell *matHeaderCellDef> Titre de l'assignment </th>
        <td mat-cell *matCellDef="let rendu"> {{rendu.titreAssignment}} </td>
      </ng-container>

      <!-- Date du rendu Column -->
      <ng-container matColumnDef="dateRendu">
        <th mat-header-cell *matHeaderCellDef> Date du rendu </th>
        <td mat-cell *matCellDef="let rendu"> {{rendu.dateRendu | date}} </td>
      </ng-container>

      <ng-container matColumnDef="Auteur">
        <th mat-header-cell *matHeaderCellDef> Nom de l'etudiant</th>
        <td mat-cell *matCellDef="let rendu"> {{rendu.auteur}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Dejà noté? </th>
        <td mat-cell *matCellDef="let rendu">
          <span *ngIf="rendu.note !== undefined"><mat-icon
              color="green">check</mat-icon> </span>
          <span *ngIf="rendu.note === undefined"><mat-icon
              color="warn">clear</mat-icon></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let rendu">
          <button mat-button color="primary" (click)="openDialog(rendu)"
            class="editbtn">Voir détails</button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalDocs" [pageSize]="limit"
      [pageSizeOptions]="[6, 9, 12, 30]" (page)="onPageChange($event)"
      aria-label="Select page" [pageIndex]="page - 1"
      itemsPerPageLabel="Éléments par page">
    </mat-paginator>
  </div>
</div>
