.content {
    padding: 24px;
}

mat-toolbar {
    position: relative;
    z-index: 5;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

.spacer {
    flex: 1;
    /* Pour occuper tout l'espace disponible */
}

.logout-button {
    margin-left: auto;
    /* Pour pousser le bouton à droite */
}