<mat-vertical-stepper style="text-align: center;" linear #formStepper>
    <mat-step>
        <ng-template matStepLabel>Titre</ng-template>
        <mat-form-field class="custom-form-field" appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text" matInput placeholder="Titre"/>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext>Suivant</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Description</ng-template>
        <mat-form-field class="custom-form-field" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext>Suivant</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Date limite</ng-template>
        <mat-form-field class="custom-form-field" appearance="fill">
            <mat-label>Date limite</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext>Suivant</button>
        </div>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Upload File</ng-template>
      <div class="file-input-container">
        <input type="file" (change)="onFileSelected($event)" />
      </div>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Matiere</ng-template>
        <mat-form-field class="custom-form-field">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
    
        <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button (click)="formStepper.reset()">Réinitialiser</button>
            <button mat-button>Enregistrer</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
